@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 16px; /* paragraph size */
  }
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  background-color: #e5e7eb;
  color: #0f172a;
}
